* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
}
.carrousel_ecran {
    width: 100%;
    flex: none;
}
.carrousel_ecran figure {
    margin: 0;
}


/* Placement des boutons avant/après */

.carrousel {
    position: relative;
}

.carrousel_btn {
    position: absolute;
    top: 50%;
    top: calc(min(500px, 100vw) / 16 * 9 / 2 + 1rem); /* centre verticalement ~50% vertical */
    transform: translateY(-50%); /* methode du point mort */
    width: 2rem;
    height: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
}

.carrousel_btn-avant {
    left: 0;
}

.carrousel_btn-apres {
    right: 0;
}


/* Liste de liens */

.carrousel_liste-liens {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
}


/* Bonus */

button {
    background-color: #fef3c7;
    color: #18181b;
    font-weight: bold; 
    border-radius: 5px;
    width: 70px;
    height: 30px;
    margin-top: 30px;
}

figcaption {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
}

img {
    border-radius: 10px;
}